<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922061752424-v5ooh4cs599o43b12k1q5n4ocajdiqd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922061752424-v5ooh4cs599o43b12k1q5n4ocajdiqd3</string>
	<key>API_KEY</key>
	<string>AIzaSyAURh7I533GSeAqWIGM9UtO749Z3waBYFk</string>
	<key>GCM_SENDER_ID</key>
	<string>922061752424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iptech.celeconnect.CeleConnect</string>
	<key>PROJECT_ID</key>
	<string>celeconnect-5c452</string>
	<key>STORAGE_BUCKET</key>
	<string>celeconnect-5c452.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922061752424:ios:76bd84ffb1af2a652753dd</string>
</dict>
</plist>